<div class="blanK-section">
    <div class="event-detail-wrapper faq-detail">
        <mat-card class="event-detail-card width-80" style="font-size: 16px; color: #5e5e5e;">

            <!-- <div *ngFor="let policy of privacyPolicy" class="row">
              <p>{{policy.description}}</p>
            </div> -->
            <div class="info-page-contents">
                <p>
                    <b>1. How do I create an event?</b><br>
                    Adding an event to the app is actually easier than you think, simple find the Add button or create event button on the app and follow the steps and within minutes you should be ready to start promoting your event
                </p><br>
                <p>
                    <b>2. Can I sell Tickets for events listed on the app?</b><br>
                    Once your event is created before submitting the event for customers to access you will have a few options to create tickets, tables, and seating for customers to book and rsvp on user side app.
                </p><br>
                <p>
                    <b>3. How Much do I get charge for events listed on the app?</b><br>
                    A flat percentage of 2% per ticket sales, tables, and seating will apply to Venues and promoters on each and every sale.
                </p><br>
                <p>
                    <b>4. can I cancel or edit events created?</b>
                    Once an event is submitted there are details that can be change and some can’t and if certain changes need to be made please cancel the event listed and recreate a new one. any tickets sold and such will be reimbursed to customers.
                </p><br>
                <p>
                    <b>5. How and what type audience able to view and Book my events?</b><br>
                    Your events will be viewed and accessible by any users that chose to access the app or our website, If you want to provide services to a smaller audience we suggest you list your event as private and submit invitation to your guests individually. Our mission is always to put your event in the sight of millions that might be interested.
                </p><br>
                <p>
                    <b>6. What type of events am I able to create?</b><br>
                    365live allow you to create and list your events as public events and private events. 
                </p><br>
                <p>
                    <b>7. Do I have access to customers and guest information that will be attended events I created?</b><br>
                    You will have access to customer’s name and booking information and any other necessary information to accommodate your customers.
                </p><br>
                <p>
                    <b>8. How’s event prices and fees on customer’s end charges calculated?</b><br>
                    You create your desire event prices base of fair admissions pricing and we’ll assign Booking fees to your customers base on a set percentage another to cover credit card processing fees and sales taxes if necessary 
                </p><br>
                <p>
                    <b>9. How do I get pay for tickets sales and products sales on the app?</b><br>
                    You will have total access to your funds for each successfully completed transitions and you can move your money as you wish. 
                </p><br>
                <p>
                    <b>10. what account and personal information can I update on the app?</b><br>
                    You personal and Business information can be updated in settings and profile pages. If you wish to make changes that are not allow please contact us for more information or help. 
                </p><br>
            </div>

        </mat-card>

    </div>
</div>