<div class="blanK-section">
    <div class="event-detail-wrapper terms-condition">
        <mat-card class="event-detail-card width-80">
            <!-- 
            <div *ngFor="let term of termsconditon" class="row">
              <p>{{term.description}}</p>
            </div> -->
           
            <p>
                <b>1. INTRODUCTION: </b><br>
                Welcome to our 365live application (hereafter referred to as the <b>“App“</b>). This App is published by or on
                behalf of 365live Inc. . (hereafter referred to as the
                <b>“Company"</b>) a company registered in United State under company number Excel Booking Group Inc. , which has an
                office as registered at 111 N Orange Ave Suite 800, Orlando, Florida 32801
                By downloading or otherwise accessing the App you agree to be bound by the following terms and conditions (hereafter
                referred to as <b>“Terms”</b>), as well as our privacy policy. If you have any queries about the App or these Terms,
                you MUST please contact us immediately. If you do not agree with these Terms, please kindly stop using the App
                immediately.
            </p><br>
            <p>
                <b>2. GENERAL RULES RELATING TO CONDUCT: </b><br>
                The App is made available for your own, personal use. The Company hereby grants you a worldwide, non-exclusive,
                royalty-free revocable licence to use the App for your own personal use in accordance with the Terms hereto
                provided. The App must not be used for any commercial purpose whatsoever or for any illegal or unauthorised purpose
                by you or any person affiliated or related to you. When you use the App you must comply with all applicable local
                laws and with any applicable international laws, including the local laws in your country of residence (together
                referred to hereafter as <b>“Applicable Laws”</b>). Furthermore, you acknowledge that the terms of agreement with
                your respective mobile network provider (hereafter referred to as the <b>“Mobile Provider”</b>) will continue to
                apply when using the App. As a result, you may be charged by the Mobile Provider for access to network connection
                services for the duration of the connection while accessing the App or any such third party charges as may arise.
                You accept responsibility for any such charges that arise. If you are not the bill payer for the mobile telephone or
                handheld device being used to access the App, you will be assumed to have received permission from the bill payer
                for using the App.
            </p><br>
            <p>
                You agree that when using the App you will comply with all Applicable Laws and these Terms. As a user, and without
                limitation, you understand fully that:
            </p><br>
            <ol type="a">
                <li>
                    You must be at least 18 years of age in order to use this App in any way so intended; and
                </li>
                <li>
                    You are aware of the legal drinking age in the jurisdiction in which you are using the App to attend parties and
                    events; and
                </li>
                <li>
                    If you are an event organiser or host using the App for marketing and promotional purposes that you will
                    endeavour to check for identification of attendees to your event at all reasonable times and by all reasonable
                    means; and
                </li>
                <li>
                    The Company cannot be held responsible for users who do not abide by these or any other Terms nor for any false
                    information that may be provided by users of this App.
                </li>
            </ol><br>
            <p>
                Furthermore, in particular, but without limitation, you agree not to:
            </p><br>
            <ol type="a">
                <li>
                    Use the App in any unlawful manner or in a manner which promotes or encourages illegal activity including
                    (without limitation) copyright infringement; or
                </li>
                <li>
                    Attempt to gain unauthorised access to the App or any networks, servers or computer systems connected to the
                    App; or
                </li>
                <li>
                    Modify, adapt, translate or reverse engineer any part of the App or re-format or frame any portion of the pages
                    comprising the App, save to the extent expressly permitted by these Terms or by law.
                </li>
            </ol><br>
            <p>
                You agree to indemnify this Company and its group companies in full and on demand from and against any loss, damage,
                costs or expenses which they suffer or incur directly or indirectly as a result of your use of the App otherwise
                than in accordance with these Terms and Conditions or any Applicable Laws.
            </p><br>
            <p>
                <b>3. CONTENT: </b><br>
                The copyright in all material contained on, in, or available through the App including all information, data, text,
                music, sound, photographs, graphics and video messages, the selection and arrangement thereof, and all source code,
                software compilations and other material (hereafter referred to as the <b>“Material”</b>) is owned by or licensed to
                our Company or its group companies. All rights are reserved. You can view, print or download extracts of the
                Material for your own personal use but you cannot otherwise copy, edit, vary, reproduce, publish, display,
                distribute, store, transmit, commercially exploit, disseminate in any form whatsoever or use the Material without
                our Company’s express permission.
            </p><br>
            <p>
                The trademarks, service marks, and logos (hereafter referred to as <b>“Trade Marks”</b>) contained on or in the App
                are owned by this company or its group companies or third party partners of said Company. You cannot use, copy,
                edit, vary, reproduce, publish, display, distribute, store, transmit, commercially exploit or disseminate the Trade
                Marks without the prior written consent of our Company or the relevant group company or the relevant third party
                partner of said Company.
            </p><br>
            <p>
                <b>4. SYSTEM REQUIREMENTS</b><br>
                In order to use the App, you are required to have a compatible mobile telephone or handheld device, internet access,
                and the necessary minimum specifications (hereafter referred to as the <b>“Software Requirements”</b>). The Software
                Requirements are as follows: Apple iOS devices running iOS 4 or iOS 5, and Android OS devices running Android OS 2.1
                up to OS 2. Languages are in English, Italian, German, Spanish and French. The current version of the App software
                at the time of writing of these Terms may be upgraded from time to time to add support for new functions and
                services.
            </p><br>
            <p>
                <b>5. AVAILABILITY</b><br>
                This App is available to handheld mobile devices running Apple iOS and Android OS Operating Systems. The Company
                will use reasonable efforts to make the App available at all times. However you acknowledge that the App is provided
                over the internet and mobile networks and so the quality and availability of the App may be affected by factors that
                are beyond the Company’s reasonable control. Therefore, the Company and any of its employees and sub-contractors do
                not accept any responsibility whatsoever for unavailability of the App or any difficulty or inability to download or
                access content or any other communication system failure which may result in the App being unavailable. The Company
                will not be responsible for any support or maintenance for the App.
            </p><br>
            <p>
                <b>6. LINK TO THIRD PARTIES: </b><br>
                The App may contain links to websites operated by third parties (referred to hereafter as <b>“Third Party
                    Websites”</b>). We on behalf of the Company may monetise (i.e. capitalize materially or otherwise gain from)
                some of these links through the use of third party affiliate programmes. Notwithstanding such affiliate programmes,
                our Company does not have any influence or control over any such Third Party Websites and, unless otherwise stated,
                is not responsible for and does not endorse any Third Party Websites or their availability or contents.
            </p><br>
            <p>
                <b>7. ADVERTISERS IN THE APP: </b><br>
                We accept no responsibility for adverts contained within the App. If you agree to purchase goods and/or services
                from any third party who advertises in the App, you do so at your own risk. The advertiser, not the Company, is
                responsible for such goods and/or services and if you have any queries or complaints in relation to them, your only
                recourse is against the advertiser.
            </p><br>
            <p>
                <b>8. COMPETITIONS: </b><br>
                If you take part in any competition which is run in or through the App (hereafter referred to as the
                <b>“Competition”</b>), you agree to be bound by the rules of that competition and any other rules specified by the
                Company from time to time (hereafter referred to as the <b>“Competition Rules“</b>) and by the decisions of the
                Company which are final in all matters relating to the Competition. The Company reserves the right to disqualify any
                entrant and/or winner in its absolute discretion without notice in accordance with the Competition Rules.
            </p><br>
            <p>
                <b>9. IN-APP VOUCHER CODES: </b><br>
                Any in-app voucher codes issued by Future may only be used in accordance with applicable terms and conditions or
                rules pertaining thereto.
            </p><br>
            <p>
                <b>10. OUR COMPANY’S PRIVACY POLICY: </b><br>
                We take your privacy very seriously. <br>
                Our company will only use your personal information in accordance with the terms of our privacy policy. By using the
                App you acknowledge and agree that you have read and accept the terms of our app privacy policy, as well as these
                Terms.
            </p><br>
            <p>
                <b>11. DISCLAIMER / LIMITATION OF LIABILITY: </b><br>
                <b>PLEASE NOTE: </b>
                USE OF THE APP IS AT YOUR OWN RISK. THE APP IS PROVIDED ON AN ‘AS IS’ BASIS. TO THE MAXIMUM EXTENT PERMITTED BY LAW:
            </p><br>
            <ol type="A">
                <li>THE COMPANY DISCLAIMS ALL LIABILITY WHATSOEVER, WHETHER ARISING IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR
                    OTHERWISE IN RELATION TO THE APP;AND </li>
                <li>ALL IMPLIED WARRANTIES, TERMS AND CONDITIONS RELATING TO THE APP (WHETHER IMPLIED BY STATUE, COMMON LAW OR
                    OTHERWISE), INCLUDING (WITHOUT LIMITATION) ANY WARRANTY, TERM OR CONDITION AS TO ACCURACY, COMPLETENESS,
                    SATISFACTORY QUALITY, PERFORMANCE, FITNESS FOR PURPOSE OR ANY SPECIAL PURPOSE, AVAILABILITY, NON INFRINGEMENT,
                    INFORMATION ACCURACY, INTEROPERABILITY, QUIET ENJOYMENT AND TITLE ARE, AS BETWEEN THE COMPANY AND YOU, HEREBY
                    EXCLUDED. IN PARTICULAR, BUT WITHOUT PREJUDICE TO THE FOREGOING, WE ACCEPT NO RESPONSIBILITY FOR ANY TECHNICAL
                    FAILURE OF THE INTERNET AND/OR THE APP; OR ANY DAMAGE OR INJURY TO USERS OR THEIR EQUIPMENT AS A RESULT OF OR
                    RELATING TO THEIR USE OF THE APP. YOUR STATUTORY RIGHTS ARE NOT HEREBY AFFECTED.</li>
            </ol><br>
            <p>
                <small>Furthermore, the Company will not be liable, in contract, tort (including, without limitation, negligence),
                    under statute or otherwise, as a result of or in connection with the App, for any:</small>
            </p><br>
            <ol type="i">
                <li>economic loss (including, without limitation, loss of revenues, profits, contracts, business or anticipated
                    savings); or </li>
                <li>loss of goodwill or reputation; or</li>
                <li>special or indirect or consequential loss.</li>
            </ol><br>
            <p>
                <b>IF THE COMPANY IS LIABLE TO YOU DIRECTLY OR INDIRECTLY IN RELATION TO THE APP, THAT LIABILITY (HOWSOEVER ARISING)
                    SHALL BE LIMITED TO:</b>
            </p><br>
            <ol type="A">
                <li><b>FIFTY POUNDS STERLING (£50.00); OR</b></li>
                <li>
                    <b>THE SUMS PAID BY YOU UPON PURCHASING THE APP, OR ANY IN-APP SPEND, INCLUDING SUBSCRIPTIONS, WHICHEVER IS
                        GREATER.</b>
                </li>
            </ol><br>
            <p>
                <small>Nothing in these Terms shall be construed as excluding or limiting the liability of the Company or its group
                    companies for death or personal injury caused by its negligence or for any other liability which cannot be
                    excluded by the applicable and appropriate law.</small>
            </p><br>
            <p>
                <b>12. SERVICE SUSPENSION: </b><br>
                The Company reserves the right to suspend or cease providing any services relating to the apps published by it, with
                or without notice, and shall have no liability or responsibility to you in any manner whatsoever if it chooses to do
                so.
            </p><br>
            <p>
                <b>13. GENERAL: </b><br>
                These Terms (as amended from time to time) constitute the entire agreement between you and the Company concerning
                your use of the App.<br>
                The Company reserves the right to update these Terms from time to time. If it does so, the updated version will be
                effective immediately, and the current Terms are available through a link in the App to this page. You are
                responsible for regularly reviewing these Terms so that you are aware of any changes to them and you will be bound
                by the new policy upon your continued use of the App. No other variation to these Terms shall be effective unless in
                writing and signed by an authorised representative on behalf of the Company.<br>
                These Terms shall be governed by and construed in accordance with the laws of United States of America and you agree
                to submit to the exclusive jurisdiction of that country’s laws.
            </p><br>
            <p>
                If any provision(s) of these Terms is held by a court of competent jurisdiction to be invalid or unenforceable, then
                such provision(s) shall be construed, as nearly as possible, to reflect the intentions of the parties (as reflected
                in the provision(s)) and all other provisions shall remain in full force and effect.
            </p><br>
            <p>
                The Company’s failure to exercise or enforce any right or provision of these Terms shall not constitute a waiver of
                such right or provision unless acknowledged and agreed to by the Company in writing.
            </p><br>
            <p>Unless otherwise expressly stated, nothing in the Terms shall create any rights or any other benefits under any
                specific or related laws or otherwise in favour of any person other than you, the Company and its group of
                companies.</p><br>


        </mat-card>

    </div>
</div>