<!-- <div fxLayout="column"  class="ticket_checked" *ngIf="errorget">
    <div fxFlex="100" fxLayoutAlign="end center">
       <button type="button" mat-dialog-close>×</button>
     </div>
    <div fxFlex="100"fxLayout="column" fxLayoutAlign="center center" mat-dialog-alert>
      <div class="success mb-4"> 
         <mat-icon >done</mat-icon>
        </div>
          <h1 class="my-5" > </h1>     </div>
  
  <div mat-dialog-content fxFlex="100" fxLayoutAlign="center center">{{ username }}  {{STRINGS.SearchTicket.TicketConfirmation}}</div>
  <div mat-dialog-actions fxFlex="100" fxLayoutAlign="center center">
    <button mat-button mat-dialog-close class="my-4">Done </button>
  </div>
  
  </div>
   -->


  <div fxLayout="column"  class="ticket_checked">
    <div fxFlex="100" fxLayoutAlign="end center">
       <button type="button" mat-dialog-close>×</button>
     </div>
    <div fxFlex="100"fxLayout="column" fxLayoutAlign="center center" mat-dialog-alert>
      <div class="error mb-2" *ngIf="errorget"> 
         <mat-icon >error</mat-icon>
        </div>

        <div class="success mb-4" *ngIf="!errorget"> 
          <mat-icon >done</mat-icon>
         </div>
          <h1 class="my-5" *ngIf="!errorget">{{STRINGS.SearchTicket.searchLabel}}</h1>
     </div>
     <div mat-dialog-content fxFlex="100" fxLayoutAlign="center center" *ngIf="errorget"> {{ error }}</div>
     <div mat-dialog-content fxFlex="100" fxLayoutAlign="center center"  *ngIf="!errorget">{{ error }}</div>

  <div mat-dialog-actions fxFlex="100" fxLayoutAlign="center center">
    <button mat-button mat-dialog-close class="my-4">Done </button>
  </div>
  
  </div>
  