<div class="ng_wrapper">
  <mat-card class="ng_inner" fxLayout="column" fxLayout.gt-sm="row">
    <div fxLayout="column" fxFlex.lt-md="50%" fxFlex.lt-sm="20%">
      <img src="../../../assets/img/Group 29073.svg" />
    </div>
    <div fxLayout="column" fxLayoutGap="60px" fxFlex="50%">
      <div fxLayout="column">
        <h1 class="form-heading">{{ STRINGS.resetPassword.resetPasswordHead }}</h1>
      </div>

      <form fxLayout="column" [formGroup]="resetPasswordForm">
        <div class="form-group input-error-wrapper">
          <label for="password" class="input-label text">{{
            STRINGS.resetPassword.label
            }}</label>
          <div class="position-relative">
            <input [type]="newPasswordfieldType ? 'text' : 'password'" formControlName="passwordNew"
              class="form-control form-input" id="pwd" placeholder="{{ STRINGS.resetPassword.placholderNew }}"
              name="pwd" />
            <img src="../../../assets/img/visibility.svg" *ngIf="newPasswordfieldType" class="input-icon"
              (click)="showpasswordNew()" />
            <img src="../../../assets/img/visibility-hidden.svg" *ngIf="!newPasswordfieldType" class="input-icon"
              (click)="showpasswordNew()" />
          </div>
          <p class="error-msg" *ngIf="
                resetPasswordForm.get('passwordNew')?.errors?.required &&
                isSubmitted
              ">
            {{ STRINGS.validations.password }}
          </p>
          <p class="error-msg mb-2" *ngIf="
                                      resetPasswordForm.get('passwordNew')?.errors?.minlength &&
                                      isSubmitted
                                    ">
            {{ STRINGS.validations.passwordMinLength }}
          </p>
          <p class="error-msg mb-2" *ngIf="
                                      resetPasswordForm.get('passwordNew')?.errors?.maxlength &&
                                      isSubmitted
                                    ">
            {{ STRINGS.validations.passwordMaxLength }}
          </p>
          <p class="error-msg" *ngIf="
                                      resetPasswordForm.get('passwordNew')?.errors?.pattern &&
                                      isSubmitted
                                    ">
            {{ STRINGS.validations.atLeastOneNumber }}
          </p>
        </div>

        <div class="form-group input-error-wrapper mt-4">
          <div class="position-relative">
            <input [type]="fieldTextType ? 'text' : 'password'" formControlName="passwordConfirm"
              class="form-control form-input" id="pwd" placeholder="{{ STRINGS.resetPassword.placholderConfirm }}"
              name="Confirmpwd" />
            <img src="../../../assets/img/visibility.svg" *ngIf="fieldTextType" class="input-icon"
              (click)="showpassword()" />
            <img src="../../../assets/img/visibility-hidden.svg" *ngIf="!fieldTextType" class="input-icon"
              (click)="showpassword()" />
          </div>
          <p class="error-msg" *ngIf="
                resetPasswordForm.get('passwordConfirm')?.errors
                  ?.required && isSubmitted
              ">
            {{ STRINGS.validations.password }}
          </p>
          <div class="error-msg" *ngIf="
                resetPasswordForm.get('passwordConfirm')?.errors?.mustMatch
              ">
            Passwords must match
          </div>
        </div>
        <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center center" class="reset-submit-button">
          <button class="primary-btn btn-margin-decrease" (click)="submitResetForm()">
            {{ STRINGS.buttons.submit }}
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>