.text {
  font-family: 'HelveticaNeueLTPro-Md';
  font-size: 14px;
  text-align: left;
  color: #715ff2;
}
.ng_wrapper {
  background-color: #fff;
  width: calc(100% - 20%);
  margin: 10% 10% 10% 10%;
  .ng_inner {
    padding: 5rem;
    // margin-top: -20rem;
    margin-top: -35rem;
    box-shadow: unset;
    border-radius: 10px;

    button {
      border-radius: 75.8px;
      background-color: #7966fe;
    }
  }
  .input-icon {
    position: absolute;
    right: 0.99rem;
    bottom: 1.4rem;
    width: 2rem;
    cursor: pointer;
  }
}
