@import '../../../assets/css/mixin.scss';
.cus_modal{
    [mat-dialog-close]{
        font-size: 3rem;
        color: #9697b5;
        height: 30px;
        line-height: 30px;
    }
    [mat-dialog-alert]{
        min-height: 3rem;
        color: #343a43;
        font-size: 2rem;
        font-weight: 900;
    }

    [mat-dialog-content]{
        font-size: 1.8rem;
        color: #343a43;
        margin: 5rem auto;
        font-weight: 500;
    }
    
    [mat-button]{
        @include replacewidth(18.8rem);
        height: 4.8rem;
        text-transform: capitalize;
        margin-bottom: 4.5rem;
    }
    .mat-button-wrapper{
        font-size: 1.4rem;
    }
}
 

