<div fxLayout="column"  class="contact_us_alert px-2">
    <div fxFlex="100" fxLayoutAlign="end center">
       <button type="button" mat-dialog-close>×</button>
     </div>
     <div fxFlex="100" fxLayoutAlign="center center">
       <div class="succes">
        <mat-icon >done</mat-icon>
       </div>
     
    
    </div>
    <div fxFlex="100" fxLayoutAlign="center center" mat-dialog-alert><h1 class="mt-5">365Live Partner</h1></div>
  
  <div mat-dialog-content fxFlex="100" fxLayoutAlign="center center">{{ STRINGS.contactUs.alertMsg }}</div>
  <div mat-dialog-actions fxFlex="100" class="note" fxLayoutAlign="center center">{{STRINGS.contactUs.note }}</div>
  
  </div>
