.venue-location-wrapper{
    .no-image{
        display: flex;
        justify-content: center;
        p{
            font-size: 18px;
            line-height: 20rem;
            color: white;
        }
    }
}
