.forgot_password{
.text{
  font-family: 'HelveticaNeueLTPro-Md';
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #9697b5;
  margin: 26px 0;
}
.internal-text{
  font-family: 'HelveticaNeueLTPro-Md';
  font-size: 14px;
  text-align: left;
  color: var(--charcoal-grey);
}

  background-color: #fff;
  width: calc(100% - 20%);
  margin: 0  auto;
  .ng_inner {
    padding: 5rem;
    margin-top: -12rem;
    box-shadow: unset;
    border-radius: 10px;
    margin-bottom: 2rem;
    
    button {
      background-color: #7966fe;
      color: #f4f2ff;
      font-size: 1.4rem;
      text-transform: capitalize;
      margin: 2rem auto;
      border-radius: 7.5rem;
    }
 
  }
  .input-icon{
    position: absolute;
    right: 0.99rem;
    bottom: 1.4rem;
    cursor: pointer;
  }



}