<div class="ng_wrapper forgot_password">
  <mat-card class="ng_inner" >
   <div fxLayout="row" fxLayoutGap.sm="10px"> 
    <div  fxFlex="50" fxHide.xs>
      <img src="../../../assets/img/Group 29072.svg" />
     </div>
     <div fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="50" fxLayout="column">
      <h1 class="form-heading">{{ STRINGS.forgot.forgotHead }}</h1>
      <p  class="text">{{STRINGS.forgot.forgotDescription}}</p>
      <form fxLayout="column" [formGroup]="forgetForm">
        <div class="form-group input-error-wrapper">
          <label for="email" class="input-label">{{
            STRINGS.forgot.labelemail
          }}</label>
          <input
            type="email"
            formControlName="email"
            class="form-control form-input internal-text"
            id="email"
            placeholder="{{ STRINGS.placeholder.placeholderEmail }}"
            name="email"
          />
          <p
            class="error-msg"
            *ngIf="
              forgetForm.get('email')?.errors?.required && isSubmitted
            "
          >
            {{ STRINGS.validations.email }}
          </p>
          <p
            class="error-msg"
            *ngIf="forgetForm.get('email')?.errors?.email && isSubmitted"
          >
            {{ STRINGS.validations.validEmail }}
          </p>
          <p
            class="error-msg"
            *ngIf="
              forgetForm.get('email')?.errors?.maxlength && isSubmitted
            "
          >
            {{ STRINGS.validations.characterExceed }}
          </p>
        </div>
  
        <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center center">
          <button
            class="primary-btn btn-margin-decrease"
            (click)="submitForgetForm()"
          >
            {{ STRINGS.buttons.submit }}
          </button>
        </div>
      </form>
    </div>
    <div  fxFlex="10%" fxHide.lt-md	></div>
   </div>
   

    
  </mat-card>
</div>