<div class="change_password">
    <mat-card>
          <form [formGroup]="changePasswordForm">
            <div fxLayout="column" class="social pt-2">
              <div fxFlex="100">
                <mat-form-field appearance="standard" floatLabel="always" class="w-100">
                    <mat-label>{{STRINGS.changepassword.labelold}}</mat-label>
                    <input type="password" formControlName="oldPassword" matInput #password  placeholder="{{STRINGS.placeholder.placeholderoldpwd}}" autocomplete="off" />
                    <mat-error>
                      {{ STRINGS.validations.password }}
                    </mat-error>
                  </mat-form-field>
              </div>
              <div fxFlex="100">
                <mat-form-field appearance="standard" floatLabel="always" class="w-100">
                    <mat-label>{{STRINGS.changepassword.labelnew}}</mat-label>
                    <input type="password" formControlName="newPassword"  matInput #password  placeholder="{{STRINGS.placeholder.placeholdernewpwd}}" autocomplete="off" />
                    <mat-error *ngIf="
                    changePasswordForm.get('newPassword')?.errors?.required
                  ">
                      {{ STRINGS.validations.password }}
                    </mat-error>
                    
                    <p class="error-msg mb-2" *ngIf="
                        changePasswordForm.get('newPassword')?.errors?.minlength
                      ">
                      {{ STRINGS.validations.passwordMinLength }}
                    </p>
                    <p class="error-msg mb-2" *ngIf="
                        changePasswordForm.get('newPassword')?.errors?.maxlength
                      ">
                      {{ STRINGS.validations.passwordMaxLength }}
                    </p>
                    <p class="error-msg" *ngIf="
                        changePasswordForm.get('newPassword')?.errors?.pattern
                      ">
                      {{ STRINGS.validations.atLeastOneNumber }}
                    </p>
                  </mat-form-field>
              </div>
              <div fxFlex="100">
                <mat-form-field appearance="standard" floatLabel="always" class="w-100">
                    <mat-label>{{STRINGS.changepassword.labelconfir}}</mat-label>
                    <input type="password" formControlName="confirmPassword" matInput #password  placeholder="{{STRINGS.placeholder.placeholderconfirmpwd}}" autocomplete="off" />
                    <mat-error  *ngIf="changePasswordForm.get('confirmPassword')?.errors?.required">
                      {{ STRINGS.validations.password }}
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.errors?.mustMatch">
                      Password Should Be Match
                    </mat-error>
                  </mat-form-field>
              </div>
              <div fxFlex="100" fxLayoutAlign="center center" class="my-5 pb-5">
                <button (click)="submitForm()" type="submit">{{STRINGS.changepassword.button}}</button>
              </div>
            </div>
          </form>

    </mat-card>
  </div>