<div class="blanK-section">
  <div class="event-detail-wrapper about-us">
    <mat-card class="event-detail-card width-80">
      <p>
        First appearing in 2015, 365Live was created to eliminate the inconvenience of
        not being able to enjoy yourself anywhere in any way that you desire.
      </p><br>

      <p>
        The idea came to life after the app founder kept running into roadblocks trying to find things he loved
        doing when visiting other cities. This situation happened over and over again. At the time, there weren’t
        too many resources to turn to other than social media. While there are event platforms out there, none point
        you in the right direction to find fun things in areas you may not know well. And we believe it’s mainly
        because those companies focus more on making money by selling tickets instead of guiding you on where and
        how to have fun and enjoy life.
      </p><br>

      <p>
        Think about it. Ever found yourself visiting or just simply being in a whole
        different area you are not familiar with and don’t know what’s fun around you? Or maybe you want to live a
        little or are curious about what’s going on in your neighborhood or the city you live in? Whether it’s brunch,
        daytime events on the weekend, wine tastings, checking out a new bar, or maybe you are more of a night owl,
        and you’re more into nightlife, concerts, dance parties, we have you covered.
      </p><br>

      <p>
        Our mission is to expand as fast as possible and globally to get you all the types of events you are
        into no matter where you are. So, please be patient with us while we grow and help us grow because we
        honestly do this for people like you and don’t want anyone to feel left out. Our platform has changed,
        been rebuilt, and even renamed a few times because we’re perfectionists and don’t believe in delivering
        anything that’s only good enough. It has to make a difference.
      </p><br>

      <p>
        As we said, we want to have everyone covered. So, of course, if you represent a venue or are an events
        promoter, our goal is to make our platform as simple and easy as possible to help you target the right
        crowd, generate more traffic into your business, and not to mention, also offer a flawless platform to
        help with better organization from creating events, handling RSVPs or ticket sales to regular and VIP
        clients, managing your tables and VIP seating’s, and last but not least, promoting your events to get
        it in front of countless of eyes so we can get more money into your accounts or your pockets promptly.
        We will work with you to make sure that your event is a success, so don’t hesitate to reach out so we
        can determine the best strategy for you. We have a team dedicated to accommodating big or small events,
        whether it’s simply advising you, helping you set up your account, or maybe, you need a little help
        funding your event or with sponsorship. We are here to help and want to be your most trusted partner,
        so do not hesitate to send us an email or call us with your questions and your plans and we’ll take it from
        there.
      </p><br>

    </mat-card>
  </div>
</div>
