<div class="blanK-section">
    <div class="event-detail-wrapper privacy-polcy">
        <mat-card class="event-detail-card width-80">

            <!-- <div *ngFor="let policy of privacyPolicy" class="row">
              <p>{{policy.description}}</p>
            </div> -->
            <div class="info-page-contents">
                <p>
                    This privacy policy (hereafter referred to as the <b>“policy"</b> or the <b>“privacy policy”</b> or the
                    <b>“Privacy Policy”</b>) governs your use of the software application known as 365Live (and hereafter referred
                    to interchangeably as either the <b>“App”</b> or as <b>“365Live”</b>) for mobile devices that was created by
                    [INSERT YOUR COMPANY NAME HERE, hereafter referred to as <b>“the Company”</b> and also sometimes referred to in
                    this policy as “us”]. The App is an events and happenings finder using the latest digital geolocation methods.
                    The App will get you (hereafter referred to as <b>“you”</b>) one step closer to the hottest, most talked about
                    events near you. By swiping left or right on the screen, you can view hundreds or even thousands of events near
                    you using your phone’s GPS or similar locator. 365Live allows you to organise how you would like to party and be
                    where it’s happening. A map icon allows for an easy overview of all of the events listed near your set location,
                    or 365Live allows search for a specific event by entering the event code in the extended search menu. For travel
                    purposes, you can even set your preferable distance of travel.
                </p><br>
                <p>
                    <b>What information does the App obtain and how is it used?</b>
                </p><br>
                <p>
                    <b>User Provided Information</b><br>
                    The App obtains the information you provide when you download and register the App Registration with us is
                    optional. However, please keep in mind that you may not be able to use some of the features offered by the App
                    unless you register with us.
                </p><br>
                <p>When you register with us and use the App, you generally provide </p>
                <ol type="a">
                    <li>your name, email address, age, user name, password and other registration information; </li>
                    <li>transaction-related information, such as when you make purchases, respond to any offers, or download or use
                        applications from us;</li>
                    <li>information you provide the Company when you contact us for help; </li>
                    <li>credit card information for purchase and use of the App, and; </li>
                    <li>information you enter into our system when using the App, such as contact information and project management
                        information.</li>
                </ol><br>
                <p>
                    The Company may also use the information you provided us to contact your from time to time to provide you with
                    important information, required notices and marketing promotions.
                </p><br>
                <p>
                    <b>Automatically Collected Information </b><br>
                    In addition, the App may collect certain information automatically, including, but not limited to, the type of
                    mobile device you use, your mobile device’s unique device ID, the IP address of your mobile device, your mobile
                    operating system, the type of mobile Internet browsers you use, and ancillary information about the way you use
                    the App.
                </p><br>
                <p>
                    <b>Does the Application collect precise real time location information of the device?</b><br>
                    No, this App does not collect precise information about the location of your mobile device.
                </p><br>
                <p>
                    <b>Do third parties see and/or have access to information obtained by the Application?</b><br>
                </p><br>
                <p>No, not information specific to you or you device. Only aggregated, anonymized data is periodically transmitted
                    to external services to help us improve the App and our service. The Company will share your information with
                    third parties only in the ways that are described in this privacy policy.</p>
                <p></p><br>
                <p>
                    The Company may disclose User Provided and Automatically Collected Information in the following manner:
                </p><br>
                <ul>
                    <li>as required by law, such as to comply with a subpoena, or similar legal process;</li>
                    <li>when the Company believes in good faith that disclosure is necessary to protect our rights, protect your
                        safety or the safety of others, investigate fraud, or respond to a government request;</li>
                    <li>with the Company’s trusted services providers who work on our behalf, do not have an independent use of the
                        information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.
                    </li>
                    <li>if 365live inc. is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be
                        notified via email and/or a prominent notice on our Web site of any change in ownership or uses of this
                        information, as well as any choices you may have regarding this information. </li>
                </ul><br>
                <p>
                    <b>What are my opt-out rights?</b><br>
                    You can stop all collection of information by the App easily by simply uninstalling the App at any time. You may
                    use the standard uninstall processes as may be available as part of your mobile device or via the mobile
                    application marketplace or network. You can also request to opt-out via email, at support@365live.com.
                </p><br>
                <p>
                    <b>Data Retention Policy, Managing Your Information</b><br>
                    The Company will retain User Provided data for as long as you use the App and for a reasonable time thereafter.
                    The Company will retain Automatically Collected information for up to 24 months and thereafter may store it in
                    aggregate. If you’d like us to delete User Provided Data that you have provided via the Application, please
                    contact us at support@365live.com and we will respond in a reasonable time. Please note that some or all of the
                    User Provided Data may be required in order for the App to function properly.
                </p><br>
                <p>
                    <b>Children</b><br>
                    The Company does not allow for the use of the App, or to knowingly solicit data from or market to, any person
                    under the age of 18. If a parent or guardian becomes aware that their child has provided us with information
                    without their consent or is in any way contravening the Company’s rules regarding the stated minimum age for use
                    of the App, then that parent or guardian should contact us at support@365live.com. The Company will delete such
                    information from its files within a reasonable time.
                </p><br>
                <p>
                    <b>Security</b><br>
                    |The Company is concerned about safeguarding the confidentiality of your information. We provide physical,
                    electronic, and procedural safeguards to protect information we process and maintain. For example, we limit
                    access to this information to authorized employees and contractors who need to know that information in order to
                    operate, develop or improve our App. Please be aware that, although the Company endeavors to provide reasonable
                    security for information we process and maintain, no security system can prevent all potential security
                    breaches.
                </p><br>
                <p>
                    <b>Changes</b><br>
                    This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our
                    Privacy Policy by posting the new Privacy Policy here and informing you via email or text message. You are
                    advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all
                    changes. You can check the history of this policy by clicking here www.365live.com/privacy
                </p><br>
                <p>
                    <b>Your Consent</b><br>
                    By using the Disclosed App, you are consenting to our processing of your information as set forth in this
                    Privacy Policy now and as amended by us. "Processing,” means using cookies on a computer/hand held device or
                    using or touching information in any way, including, but not limited to, collecting, storing, deleting, using,
                    combining and disclosing information, all of which activities will take place in the United States. If you
                    reside outside the United States your information will be transferred, processed and stored there under United
                    States privacy standards.
                </p><br>
                <p>
                    <b>Contact us</b><br>
                    If you have any questions regarding privacy while using the App, or have questions about our practices, either
                    specifically or generally, please contact us via email at support@365live.com
                </p><br>
            </div>

        </mat-card>

    </div>
</div>