// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
// @import url('./assets/fonts/font.css');
//............theme color variable......... 
$primary_color: #7966fe;
$primary_gradient_color: #5961e6;
$primary_gradient_color: #b382f5;

//......common varible.......
$text_white: #ffffff;
$gray_text: #9697b5; 
$charcoal-grey:#343a43;
$background_color: #F9F9FF;
$primary_font: 'HelveticaNeueLTPro-Md';
$secondary_font: 'HelveticaNeueLTPro-Md';
$danger-color: #f25f73;
$borderlight-color: #dbdbde;



//......form variable....... 
$form_bg: #ffffff;
$form_heading_color: #4b4b4b;
$form_heading_font:3rem;
$form_heading_weight:700;
$primary_input_border: #715ff2;
$input_heading_text: #715ff2;
$input_text: #4b4b4b;
$input_placeholder:#9697b5;
$form_border_radius:1rem;
$form_padding:5rem 5rem;
$form_shadow: 0 0 3px #00000029;
$form-illustration-width: 45%;
$form-box:50%;
$input-error-shadow: 0 0px 3px rgba(255, 57, 90, 0.4);
$input-error-border: 1px solid rgba(255, 57, 90, 0.4);

//..........button variable......... 
$primary_btn_color: #7966fe;
$primary_btn_text: #f4f2ff;
$btn_border-radius: 7.5rem;
$primary_btn_width: 25rem;
$primary_btn_height:4.8rem;
$primary_btn_font:1.4rem;
$primary_btn_hover_effect: 0 0 5px #00000080;

//...........navigation variable.........
$navigation_text: #ffffff;
$logo_font_color: #ffffff;
$logo_font_size: 2.9rem;
$logo_font_width: 5rem; 

//........footer color variable........... 
$footer_background_color:#231e42;
$social_btn_footer_bg: #707070;
$footer_text: #ffffff;


//....... for border radius.......... 
$size10: 10px;
$size12: 12px;
$size14: 14px;
$size16: 16px;
