<div class="become-partner">
    <mat-icon (click)="closePopup()" class="close-btn">close</mat-icon>
    <div class="header">
      <mat-icon class="alert-icon mr-3">error</mat-icon>
      <h4>Alert !</h4>
    </div>
    <div class="modal-body mt-3">
     <h2> {{STRINGS.footer.becomePartnerlogout}}</h2>
    </div>
    <div class="modal-venue-footer mt-4">
      <button (click)="closePopup()" class="mr-4">  No </button>
      <button (click)="logout()" style=" background-color: #7966fe;  color: #f4f2ff;"> Yes </button>
    </div>
  
  </div>
